.system-status-counter__status-icon::before {
    width: 100%;
    height: 100%;
    background-size: 50px;
}

.system-status-counter__status-icon {
    height: 70px;
    width: 70px;
}

.system-status-general-info__header,
.system-status-general-info__item,
.system-status-report-counters__item {
    background-color: #f7f7f7 !important;
    border-radius: 5px;
}

.system-status-counter__status-icon::before {
    background-position: center;
}

.system-status-report-counters__item {
    display: flex;
    align-items: center;
}

.system-status-general-info__run-cron {
    float: right;
}

.system-status-general-info__item {
    margin-top: 0;
    border-color: #efefef !important;

}

.system-status-general-info {
    border: none !important;
}
