/node_modules
/public/hot
/public/storage
/public/fonts/vendor
/storage/*.key
/vendor
.env
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/

package-lock\.json
composer\.lock

package-lock.json
composer.lock

/public/css/app.css
/public/js/app.js
/public/font/vendor
/public/font/vendor/**

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.yarn/cache/
