$primary: #4059be;
$secondary: #4b2e7f;
$accent: #995cfe;
$error: #D42E37;
$info: #35a9f3;
$success: #77bc7a;
$warning: #FFC107;


$fontColor: #20333E;
$dangerColor: $error;
$cancelColor: #7D8D96;
$actionColor: $primary;
$confirmColor: $success;
$infoColor: $info;
