$primary: #d4ac71;
$secondary: #324a58;
$accent: #ccbd99;
$error: #ff675f;
$info: #35a9f3;
$success: #77bc7a;
$warning: #FFC107;

$fontColor: #20333E;
$dangerColor: $error;
$cancelColor: #7D8D96;
$actionColor: $primary;
$confirmColor: $success;
$infoColor: $info;
