@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

//body .application {
//    font-family: 'Poppins', sans-serif;
//    letter-spacing: 1px;
//}

.theme--dark.v-navigation-drawer {
    background-color: #324a58 !important;
}

.theme--light.v-footer,
.theme--light.v-sheet {
    color: $fontColor !important;
}


.theme--light.v-toolbar {
    background: linear-gradient(90deg, #4059BE 0%, #945CFB 100%, #995CFE 100%) !important;
    color: white !important;
}

.v-application a{
    color: #D42E37 !important;
}

.theme--light.application {
    color: $fontColor !important;
    background: #f0f3f7 !important;
}

.v-list--dense .v-list__tile {
    font-size: 14px !important;
}

section {
    width: 100%;
}

.mention,
.variable {
    width: min-content;
    background-color: $primary;
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
}

@import "theme/table";
