.v-list-item--link:before {
  background-color: transparent !important;
}

.theme--dark.v-navigation-drawer {
  background-color: #273670 !important;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

section > .v-navigation-drawer .v-list:first-child {
  background: #4059BE;
  padding: 0 !important;
  border-radius: 0px;
  min-height: 64px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

section > .v-navigation-drawer .theme--dark.v-list-item {
  background: #4059BE;
  border-radius: 5px;

  & .v-list-item__action {
    margin-right: 10px
  }
}

.v-list-item__action {
  display: flex;
  justify-content: center;
  align-content: center;
}

.v-navigation-drawer--mini-variant .v-list-item > :first-child {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

section > .v-navigation-drawer .v-list-item--active:not(.v-list-group__header) {
  background: #945CFB !important;
}

section > .v-navigation-drawer .v-list-group__header {
  background: #4059BE;
}

section > .v-navigation-drawer .v-list-group__header .v-list-item {
  background: transparent;
}

section > .v-navigation-drawer .v-list-group__header.v-list-item--active {
  border-radius: 5px 5px 0 0;
}

section > .v-navigation-drawer .v-list-group {
  color: white !important;

  .v-list-item--active {
    color: white !important;
  }
}

section > .v-navigation-drawer .v-list-group__items .v-list-item {
  background: #2D3F86;
  border-radius: 0px;

  & .v-list-item__action {
    margin-right: 10px !important;
  }
}

section > .v-navigation-drawer .v-list-group__items .v-list-item:last-child {
  border-radius: 0 0 5px 5px;
}

section > .v-navigation-drawer .v-list-group__header {
  color: white !important;

  & > .v-list-item__action {
    min-width: 30px !important;
  }

  & > .v-list-item {
    padding: 0 !important;
  }

}

section > .v-navigation-drawer .v-list:nth-child(2) {
  padding: 15px 25px;

  & > * {
    margin-top: 10px;
  }
}

.v-navigation-drawer--mini-variant{
  .v-list:nth-child(1)  .v-list-item{
    padding: 0 7px !important;
  }
  .v-list:nth-child(2) {
    padding: 0 !important;
  }
}

.theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.theme--light.v-footer,
.theme--light.v-sheet {
  color: $fontColor !important;
}

.theme--light.v-toolbar {
  background: linear-gradient(90deg, #4059BE 0%, #945CFB 100%, #995CFE 100%) !important;
  color: white !important;
}

.theme--light.application {
  color: $fontColor !important;
  background: #f0f3f7 !important;
}

.v-list--dense .v-list__tile {
  font-size: 14px !important;
}

section {
  width: 100%;
}

.mention,
.variable {
  width: min-content;
  background-color: $primary;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
}

.paragraph-list {
  display: block;
  text-align: center;

  .paragraph-counter{
    &:before {
      content: "n";
      padding: 0 5px;
      border-radius: 5px;
      color: white;
      margin: 0 3px;
      background: #935cfa;
    }
  }

  &:before {
    content: "§";
  }
}

.wantbigbuttons button {
  padding:20px !important;
}

.v-main__wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.complaintlinks .action-content h3 {
  margin-top: 20px;
}

.complaintlinks .action-card p {
  line-height: 16px;
  text-align: center;
}

.glslogo, .dhllogo, .inpostlogo, .dpdlogo, .geislogo, .kexlogo, .upslogo, .fedexlogo, .tntlogo, 
#regfurgonetka a, #regkujerzy a, #reginsendit a, #regprzesylarka a, #regwysylajtaniej a, #regepaka a,
#regapaczka a, #regbrokerkurier a, .regkujerzy, .regfurgonetka {
  border: 4px solid;
  padding: 0px 5px 0px 5px;
  font-size: 32px;
  font-weight: 700;
}

#regfurgonetka a, #regkujerzy a, #reginsendit a, #regprzesylarka a, #regwysylajtaniej a, #regepaka a, #regapaczka a, #regbrokerkurier a {
  font-size: 26px;
}

#regfurgonetka, #regkujerzy, #reginsendit, #regprzesylarka, #regwysylajtaniej, #regepaka, #regapaczka, #regbrokerkurier {
  margin-bottom: 15px;
} 

.tntlogo  {
  color: #FF6906;
  border-color: #FF6906;
}

.glslogo {
  color: #1F2457;
  border-color: #F8B514;
}

.fedexlogo {
  color: #472F91;
  border-color: #F57921;
}

.dhllogo {
  color: #D50029;
  border-color: #FECC00;
}

.inpostlogo {
  color: #424143;
  border-color: #FFCB04;
}

.dpdlogo {
  color: #414042;
  border-color: #DC0032;
}

.geislogo {
  color: #204B7C;
  border-color: #FFDD00;
}

.kexlogo {
  color: #E0352A;
  border-color: #2D2724;
}

.upslogo {
  color: #FAB80A;
  border-color: #301506;
}

#regfurgonetka a, .regfurgonetka {
  color: #46474f;
  border-color: #2393c9;
}

#regkujerzy a, .regkujerzy {
  color: #138ddf;
  border-color: #cacaca;
}

#reginsendit a {
  color: #ff5a00;
  border-color: #ff5a00;
}

#regprzesylarka a {
  color: #ff0000;
  border-color: #f6af19;
}

#regwysylajtaniej a {
  color: #f06228;
  border-color: #e0dfe1;
}

#regepaka a {
  color: #000000;
  border-color: #d40000;
}

#regapaczka a {
  color: #0e2935;
  border-color: #ee9935;
}

#regbrokerkurier a {
  color: #1c424d;
  border-color: #147592;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  margin-bottom:15px;
}

.complaintlinks .v-btn {
  padding:20px 20px !important;
}

.fchr {
  border-width: 1px !important;
  margin:40px 20px 20px 20px;
}

@import "theme/table";
