.theme--dark.v-navigation-drawer {
    background-color: #324a58 !important;
}

.theme--light.v-footer {
    color: #324a58 !important;
}

.theme--light.v-toolbar {
    background-color: #446477 !important;
    color: white !important;
}

.theme--light.application{
    color: #324a58 !important;
}