@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);.theme--dark.v-navigation-drawer {
  background-color: #324a58 !important;
}

.theme--light.v-footer,
.theme--light.v-sheet {
  color: #20333E !important;
}

.theme--light.v-toolbar {
  background-color: #446477 !important;
  color: white !important;
}

.theme--light.application {
  color: #20333E !important;
  background: #f0f3f7 !important;
}

.v-list--dense .v-list__tile {
  font-size: 14px !important;
}

section {
  width: 100%;
}

.hr-line {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.hr-line i {
  color: #d4ac71 !important;
}

.hr-line .line {
  border: none;
  border-top: 2px dashed #d4ac71;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

details {
  padding: 10px 0;
  border: 1px solid #d4ac71;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

details[open].active {
  border: 3px solid #d4ac71;
  box-shadow: 0px 3px 6px 0px #d4ac71;
}

details[open] > summary {
  border-bottom: 1px solid #d4ac71;
  padding-bottom: 10px;
}

details[open] > summary i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

details[open] > summary:hover {
  cursor: pointer;
}

details[open] > *:not(:first-child) {
  padding: 0 15px;
  margin-top: 16px;
}

details summary {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-transform: capitalize;
}

details summary svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

details summary:focus {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.table-icons {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.table-icons > i {
  font-size: 20px !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  box-sizing: content-box !important;
}

.table-icons > i:hover {
  cursor: pointer !important;
  color: #324a58 !important;
  -webkit-transform: rotate(30deg) !important;
          transform: rotate(30deg) !important;
}

body > .notify-container {
  font-family: Roboto, sans-serif !important;
  position: fixed;
  z-index: 11111;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 500px;
  width: 100%;
  right: 25px;
  padding: 0;
  bottom: 25px;
  height: auto;
}

body > .notify-container .notify-remove {
  opacity: 0 !important;
}

body > .notify-container .notify-element {
  font-family: Roboto, sans-serif !important;
  opacity: 1;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  padding: 15px;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body > .notify-container .notify-element.notify-type-0 {
  background: #ff675f;
}

body > .notify-container .notify-element.notify-type-1 {
  background: #77bc7a;
}

body > .notify-container .notify-element.notify-type-2 {
  background: #35a9f3;
}

body > .notify-container .notify-element.notify-type-3 {
  background: #d4ac71;
}

body > .notify-container .notify-element p {
  font-family: Roboto, sans-serif !important;
  margin: 0;
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 15px;
}

body > .notify-container .notify-element .close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body > .notify-container .notify-element .close:hover {
  opacity: 1;
  cursor: pointer;
}

body > .notify-container .notify-element .close:before,
body > .notify-container .notify-element .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

body > .notify-container .notify-element .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body > .notify-container .notify-element .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

