button, input[type="submit"]{
  background-color: $primary;
  margin: 0 auto;
  padding: 0 25px;
  line-height: 3rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
  display: block;
  border-radius: 3px;

  &:hover{
    background-color: $primary-light;
    outline: none;
  }
}

label{
  margin-bottom: 2px;
}

input[type="number"],input[type="password"],input[type="text"],input[type="email"], textarea{
  border: 1px solid #DDDDDD;
  color: #969696 !important;
  line-height: 3rem;
  margin: 0;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .2s;
  width: 100%;

  &:hover, &:active, &:focus{
    border: 1px solid $primary;
    outline: none;
  }
}

form:not(.search-block-form){
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 25px;
  width: 100%;
}