.ProseMirror{
  font-family: 'Times New Roman', serif;
  overflow: hidden;
  padding: 5px;
  outline: none;

  .mention, .variable{
    font-family: monospace;
    font-size: 12px;
    letter-spacing: -1px;
  }
}
