#protected-pages-enter-password, #edit-protected-page-enter-password{
  margin: auto;
  max-width: 500px;

  .protected_pages_description{
    text-align: center;
    strong{
      margin: auto;
    }
  }
}